@import '../../../_variables.scss';

$parts-simple-file-input-default-color: #85fd35;
$parts-simple-file-input-default-border-bottom-color: #00d21c;
$parts-simple-file-input-default-text-color: rgb(117, 117, 117);

.parts-simple-file-input {
  label {
    font-size: 12px;
    padding: 2px 3px;
  }

  label:hover {
    cursor: pointer;
  }

  label input {
    display: none;
  }

  &__form-label {
    color: $parts-simple-file-input-default-text-color;
  }

  &__file-name {
    font-size: 14px;
    margin-left: 20px;
    color: $parts-simple-file-input-default-text-color;
  }

  &__reset-file-icon {
    color: #ff0000;
    padding: 0 4px;
    font-size: 12px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      border-color: #5f6674;
    }
  }

  &__selected-file {
    font-size: 12px;
    padding: 2px 3px;
    word-break: break-all;
  }

  /* &__selected-image-file {} */

  &__error-text {
    color: #d70035;
  }

  &__drop-area {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px dashed #c6c6c6;
    background-color: #f9f9f9;
    border-radius: 2px;
  }

  &__drag_on {
    border: 2px dashed #bcbcbc;
    background-color: #fafdff;
  }
}
